exclude: ^tests/data/
default_language_version:
  python: python3
repos:
- repo: https://github.com/psf/black
  rev: 19.3b0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: debug-statements
  - id: flake8
    additional_dependencies: ["flake8-bugbear==19.8.0"]
  - id: fix-encoding-pragma
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-xml
  - id: mixed-line-ending
    args: ["--fix=lf"]
- repo: https://github.com/asottile/pyupgrade
  rev: v1.25.1
  hooks:
  - id: pyupgrade
- repo: https://github.com/asottile/seed-isort-config
  rev: v1.9.3
  hooks:
  - id: seed-isort-config
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
    name: isort except __init__.py
    exclude: /__init__\.py$
